---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>A p-adic day in Exeter</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <main class="page-content">
      <div class="wrapper">
        <div class="jumbotron mainjumbo">
	  <div class="row">
	    <div class="col-sm-3">
	      <img src="assets/exeter_logo.gif">
	    </div>
	    <div class="col-sm-6">
              <h1>A p-adic day in Exeter</h1>
              <p>
                <time datetime="2018-06-15">Friday, 15 June 2018</time><br>
                University of Exeter<br>
                Harrison Building Har004<br>
              </p>
	    </div>
	    <div class="col-sm-3">
	      <img src="assets/lms_logo.png">
	    </div>
	  </div>
	  <div class="row">
            <img class="mainimage" src="assets/head.jpg">
	  </div>
        </div>
        <div class="well">
          <h2>Speakers</h2>
            {% include speakers.html speakers=site.data.speakers %}
        </div>
        <div class="well">
        <h2>Programme</h2>
          {% include events.html events=site.data.events %}
        </div>
      </div>
    </main>
    <footer class="site-footer h-card">
      <div class="well">
        This workshop is a "Celebrating New Appointments" meeting supported by the LMS. If you are interested in attending please contact <a href="mailto:v.di-proietto@exeter.ac.uk">Valentina Di Proietto</a> for details.
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
