<div class="panel-group">
{% for event in include.events %}
<!-- {% increment counter %} -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        {% if event.extended %} <a data-toggle="collapse" href="#event_extended_{{counter}}"> {% endif %}
	  <b>{{event.time}}</b> {{event.name}}
	{% if event.extended %} </a> {% endif %}
      </h4>
    </div>
    {% if event.extended %}
    <div id="event_extended_{{counter}}" class="panel-collapse collapse">
      <div class="panel-body">{{event.extended | xml_escape | textilize}}</div>
      <!--<div class="panel-footer">Panel Footer</div>-->
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>
